/* CSS declarations go here */

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #151515;
  color: #888;
  font-size: 12px;
}

p {
  line-height: 1.4em;
}

.viz {
  width: 75%;
  margin-left: 25%;
}

.squares {
  width: 65%;
  margin-top: 2em;
}

#info {
  width: 20%;
  text-align: left;
  position: absolute;
  left: 1em;
  bottom: 1em;
}

@media all and (max-height: 400px) {
  .hints {
    display: none;
  }

  #info {
    bottom: 4em;
  }

  .squares {
    margin-top: 1em;
  }
}

@media all and (max-width: 400px) {
  .hints {
    display: none;
  }

  #info {
    bottom: 2em;
  }

  .squares {
    margin-top: 1em;
  }
}