/* CSS declarations go here */

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #888;
}

.container {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.info {
  text-align: left;
  position: absolute;
  top: 10px;
  left: 10px;
}